paths:
  raw_data: "${raw_data}"
  clean_data: "${clean_data}"
  models: "${models}"
  logs: "${logs}"
  data_logs: "${data_logs}"
  serving_logs: "${serving_logs}"
  training_logs: "${training_logs}"
  terraform_logs: "${terraform_logs}"
